.checkout-bg{
    /* background: url("../../assets/images/checkout/checkout.png"); */
    background:linear-gradient(to right, rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0)), url("../../assets/images/checkout/checkout.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.breadrump::after{
    content: "Home/Checkout";
    width: 100%;
    height: 100%;
    color: white;
}